.logo {
    display: flex;
    flex-direction: row;
    align-items: row;
}

#logo-img {
    height: 35px;
    margin-left: 30px;
    margin-top: 30px;
}

#text-logo {
    margin-top: 40px;
    margin-left: 8px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}

.listing {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
    margin-top: -32px;
    margin-left: 40px;
    color: #4F5665;
    
}

.sign {
    display: flex;
    justify-content: end;
    margin-top: -48px;
    margin-right: 80px;
    gap: 20px;
}

.sign-up {
    border: 1px solid #F53855;
    color: #F53855;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    background: #FFFFFF;
    padding-top: 8px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    
}

.div-body {
    display: flex;
    margin-left: 30px;
    margin-top: 100px;
}

.text-styling {
    font-size: 60px;
    font-family: "Rubik", sans-serif;
    margin-top: -14px;
    margin-bottom: 20px;

}

#office-img {
    height: 300px;
    padding-left: 140px;
}

.short-styling {
    font-size: 20px;
    color: #4F5665;
    margin-bottom: 20px;
    line-height: 30px;
}

#color-button{
    margin-top: 30px;
    padding: 15px 35px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color:#F53838;
    font-family: "Rubik", sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: -0px 18px 25px 6px  #F5383859;
    position: absolute;
}
.rectangle {
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: -0px 18px 25px 6px #eaeaf0;
    width: 1045px;
    height: 50px;
    border: 2px solid #FFFFFF;
    padding: 50px;
    margin-top: 70px;
    margin-left: 35px;
}
#user-icon {
    width: 55px;
    height: 55px;
    margin-left: -70px;
}
.user-style {
    display: flex;
    gap: 25px;
    margin-left: 95px;
}
.ninety-plus {
    margin-bottom: -14px;
    margin-top: 6px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #0B132A;
    
}
.user-line {
    border-left: 2px solid #EEEFF2;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -210px;
    margin-top: 4px;
}
.users-text {
    color: #4F5665;
}
.location-style {
    display: flex;
    gap: 25px;
    margin-left: 450px;
    margin-top: -70px;
}
#location-icon {
    width: 55px;
    height: 55px;
    margin-left: 95px;
}
.thirty-plus {
    margin-bottom: -14px;
    margin-top: 6px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #0B132A;
}
#location-text {
    color: #4F5665;
}
.location-line {
    border-left:  2px solid #EEEFF2;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: 250px;
    margin-top: -70px;
}
#server-text {
    color: #4F5665;
}
#server-plus {
    margin-bottom: -14px;
    margin-top: 4px;
    font-family: "Rubik", sans-serif;
    font-style: bolder;
    color: #0B132A;
}
.server-style {
    display: flex;
    margin-left: 750px;
    margin-top: -60px;
    gap: 15px;
    
}
#server-icon {
    margin-bottom: 90px;
    width: 55px;
    height: 55px;
    margin-left: 180px;
}
.page2 {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}
#illustrator {
    height: 390px;
}
.page2-text {
    margin-left: 215px;
    margin-top: 30px;
}
.list-mark{
    list-style: none;
    margin-top: 30px;
    margin-left: -41px;
    line-height: 2.1;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
    
}
#check-mark1, #check-mark2, #check-mark3, #check-mark4 {
    height: 20px;
    margin-bottom: -3px;
}
#spacing1 {
    line-height: 1.4;
}
#spacing2 {
    line-height: 1.7;
    margin-top: 35px;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
}
.background-page {
    height: 60%;
    background-color: rgb(247, 246, 246);
    background-image: linear-gradient(rgb(247, 246, 246), #FFFFFF);
}
.text-plan {
    margin-top: 40px;
    margin-left: 460px;
}
.text-p {
    margin-left: 350px;
    font-family: "Rubik", sans-serif;
    color:  #4F5665;
}
#centering {
    align-items: center;
}
.text-sm {
    margin-left: 560px;
    margin-top: -5px;
    font-family: "Rubik", sans-serif;
    color:  #4F5665;
}
.main-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-1, .box-2 {
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 210px;
    height: 610px;
    border: 2px solid #DDDDDD;
    padding: 50px;
    margin: 20px;
}
.box-3 {
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 180px;
    height: 610px;
    border: 2px solid #F53838;
    padding: 50px;
    margin: 20px;
}
.original-box {
    margin-left: 30px;
    margin-bottom: -10px;
}
.text-box {
    font-family: "Rubik", sans-serif;
    font-size: x-large;
    margin-left: 43px;
    color: #0B132A;
    margin-top: 22px;
    margin-bottom: 6px;
}
#checkmark-list {
    list-style: none;
    margin-bottom: -13px;
}
#bandwidth-list, #Connection-list, #logs-list, #Devices-list {
    margin-left: -13px;
}
.checkmark-edit {
    height: 13px;
    margin-left: -34px;
    margin-bottom: -20px;
}
.free-text {
    margin-left: 68px;
    font-family: "Rubik", sans-serif;
    color: #0B132A;
    margin-top: 170px;
}
.Select-text {
    border: 2px solid #F53855;
    color: #F53855;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    background: #FFFFFF;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 12px;
    padding-left: 55px;
    height: 40px;
    margin-top: 10px;
    margin-left:17px;
    border-radius: 20px;
}
.plan-box {
    font-family: "Rubik", sans-serif;
    font-size: x-large;
    margin-left: 14px;
    color: #0B132A;
    margin-top: 22px;
    margin-bottom: 6px;
}
.mo-text {
    margin-top: -60px;
    margin-left: 96px;
    margin-bottom: 14px;
    font-size: xx-large;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
}
.standard-text {
    margin-left: 54px;
    font-family: "Rubik", sans-serif;
    color: #0B132A;
    margin-top: 144px;
}
.Premium-box {
    font-family: "Rubik", sans-serif;
    font-size: x-large;
    margin-left: 19px;
    color: #0B132A;
    margin-top: 22px;
    margin-bottom: 6px;
}
.Select-color {
        border: 2px solid #F53855;
        color: #FFFFFF;
        font-weight: bold;
        font-family: "Rubik", sans-serif;
        background: #F53855;
        padding-top: 10px;
        padding-right: 55px;
        padding-bottom: 12px;
        padding-left: 55px;
        height: 40px;
        margin-top: 10px;
        margin-left:17px;
        border-radius: 20px;
}
.premium-text {
    margin-left: 30px;
    font-family: "Rubik", sans-serif;
    color: #0B132A;
    margin-top: 110px;
}
.mo-text1 {
    margin-top: -60px;
    margin-left: 96px;
    margin-bottom: 14px;
    font-size: xx-large;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
}
.Global {
    margin-left: 460px;
    font-family: "Rubik", sans-serif;
    color: #0B132A;
}
.Global-text {
    margin-left: 67px;
    margin-top: -18px
}
.Global-p {
    color: #4F5665;
    margin-left: -30px;
    font-size: small;
}
.Global-p1 {
    margin-top: -8px;
    margin-left: 140px;
    font-size: small;
}
.Global-map {
    margin-left: -370px;
    margin-top: 100px;

}
.sponsor {
    display: flex;
    margin-left: -375px;
    margin-top: 50px;
    height: 60px;
    gap: 60px;
}
#amazon {
    height: 150px;
    margin-top: -40px;
    margin-left: -40px;
}
.netflix {
    height: 90px;
    margin-top: -15px;
}
.reddit {
    height: 50px;
    margin-top: 3px;
}
.Trusted {
    margin-left: 20px;
    margin-top: 100px;
    font-size: x-large;
}
.Happy {
    margin-left: 70px;
    margin-top: -10px;
    font-size: x-large;
}
#These {
    margin-left: -30px;
    margin-top: 40px;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
    font-size: small;
}
#pleasure {
    margin-left: 50px;
    margin-top: -7px;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
    font-size: small;
}
.last-box {
    display: flex;
    margin-top: 70px;
}
.second-box {
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 260px;
    height: 90px;
    border: 2px solid #F53838;
    padding: 50px;
    margin-left: 110px;
    margin-right: 90px;
}
.second-box1 {
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 260px;
    height: 90px;
    border: 2px solid #DDDDDD;
    padding: 50px;
    margin-right: -200px;
}
.second-box2 {
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 260px;
    height: 90px;
    border: 2px solid #DDDDDD;
    padding: 50px;
    margin-left: 240px;
    margin-right: 2px;
}
.Robert-design, .Yessica-design, .kim-design {
    display: flex;
}
#Robert-profile, #Yessica-profile, #kim-profile {
    width: 30px;
    height: 30px;
    margin-top: -35px;
    margin-left: -30px;
}
.Robert-text, .Yessica-text, .kim-text {
    font-size: 7px;
    margin-top: -44px;
    font-family: "Rubik", sans-serif;
    color: #0B132A;
    margin-left: 12px;

}
.Poland, .China, .Seoul {
    font-size: 10px;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
    margin-top: -8px;
}
.rating-robert, .rating-yessica, .rating-kim{
    display: flex;
    margin-top: -60px;
    margin-left: 128px;
    font-size: xx-small;
}
.rate, .rate1, .rate2 {
    color: #0B132A;
    font-family: "Rubik", sans-serif;
    margin-top: 40px;
}
.star-rate, .star-rate1, .star-rate2 {
    width: 10px;
    height: 11px;
    margin-top: 39px;
    margin-left: 7px;
    margin-right: -32px;
}
.Robert-bio, .Yessica-bio, .kim-bio {
    line-height: 1.4;
    font-family: "Rubik", sans-serif;
    color: #4F5665;
    font-size: 14px;
    margin-bottom: -10px;
}
.Yessica {
    color: #0B132A;
    font-family: "Rubik", sans-serif;
    font-size: 11.8px;
    margin-top: 14px;

}
.kim {
    color: #0B132A;
    font-family: "Rubik", sans-serif;
    font-size: 11.8px;
    margin-top: 14px;

}
.shadow-box {
    background-color: #F8F8F8;
    border-radius: 100px;
    width: 320px;
    height: 360px;
    border: 1px solid #F8F8F8;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 110px;
    margin-left: 50px;
    margin-right: -75px;
    margin-top: -280px;
    margin-bottom: 80px;
}
.design-box {
    display: flex;

}
.rectangle-sub {
    width: 135px;
    height: 15px;
    margin-top: -120px;
    margin-left: 120px;
}
.right-left {
    display: flex;
    margin-left: 790px;
    margin-top: -180px;
}
.left-icon {
    width: 60px;
    height: 60px;
    margin-right: -25px;
    margin-top: 30px;
}
.right-icon {
    width: 150px;
    height: 150px;
}
.shadow-box1 {
    background-color: #F8F8F8;
    border-radius: 100px;
    width: 1020px;
    height: 160px;
    border: 1px solid #F8F8F8;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 80px;
    padding-left: 110px;
    margin-left: 50px;
    margin-right: -75px;
    margin-top: -80px;
    margin-bottom: 80px;
}
.last-rectangle {
    background-color: #FFFFFF;
    border-radius: 2px;
    width: 860px;
    height: 120px;
    border: 1px solid #FFFFFF;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 150px;
    margin-left: -40px;
    margin-right: -5px;
    margin-top: 5px;
    margin-bottom: 80px;
}
#color-button1 {
    margin-top: -80px;
    margin-left: 650px;
    padding: 15px 38px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color:#F53838;
    font-family: "Rubik", sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: -0px 18px 25px 6px  #F5383859;
    position: absolute;
}
.last-h {
    line-height: 0.6;
    margin-left: -90px;
    font-family: "Rubik", sans-serif;
    font-size: small;
    color: #0B132A;
}
.subscribe {
    color: #4F5665;
    font-family: "Rubik", sans-serif;
    font-size: small;
    margin-left: -90px;
    margin-top: 25px;
}
.last-page {
    background-color:#F8F8F8;
    width: 100.4%;
    height: 500px;
    margin-top: -210px;
}
